@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



.filterbar {
   display: grid;
   grid-template-columns: repeat(3,150px);
   grid-gap: 20px;
   justify-content: center;
   align-items: center;
   background: #F96167;
   height: 100px;
}

.filterbar > div > select{
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
}